---
import kingfisher from "@assets/error/kingfisher.png";
import { Image } from "astro:assets";
import Head from "@components/Head.astro";
---

<Head
  title="404"
  description="Looks like the bird already left!"
/>
<main class="flex h-screen w-screen flex-col items-center justify-center gap-4">
  <Image
    src={kingfisher}
    alt="Logo"
    width="900"
    class="max-w-[90%] sm:max-w-[500px]"
  />
  <h1 class="text-7xl font-bold">404</h1>
  <a
    href="/"
    class="rounded-lg border px-6 py-2 text-xl font-semibold">
    Go Home
  </a>
</main>
