---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="container">
    <section>
      <h1 class="text-center text-6xl font-bold">Alexis LOURS</h1>
      <p class="mt-5 text-center">Full-Stack developer from France.</p>
    </section>

    <section class="mt-32">
      <h2 class="text-3xl font-bold">About me</h2>
      <p class="mt-5">
        I'm a developer mostly working with web technologies. I'm currently
        working as a full-stack developer at Etam.
      </p>
    </section>
  </div>
</BaseLayout>
