---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";
---

<html lang="en">
  <head>
    <Head
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body
    class="bg-white text-zinc-900 motion-safe:transition-all motion-safe:duration-500 dark:bg-zinc-900 dark:text-white">
    <Header />
  </body>
</html>
