---
import Head from "../components/Head.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";
---

<html lang="en">
  <head>
    <Head
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <h1 class="underline">Astro</h1>
  </body>
</html>
