---
import { REPO, EMAIL } from "@src/constants";
import Gitlab from "@icons/Gitlab.astro";
import Mail from "@icons/Mail.astro";
import Rss from "@icons/Rss.astro";
let startYear = 2022;
let year = new Date().getFullYear();
---

<footer class="place-end">
  <div class="mt-5 flex flex-col items-center gap-2 pt-6">
    <div class="h-12 flex items-center justify-center gap-4">
      <a
        href={REPO}
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Gitlab">
        <Gitlab />
      </a>
      <a
        href={`mailto:${EMAIL}`}
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Email">
        <Mail />
      </a>

      <a
        href="/feed.xml"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="RSS">
        <Rss />
      </a>
    </div>
    <div class="mb-4 flex text-sm text-zinc-500 space-x-2 dark:text-zinc-100">
      © {startYear}-{year} Alexis LOURS
    </div>
  </div>
</footer>
