---
interface Props {
  breadcrumbs?: Array<{
    name: string;
    path: string;
  }>;
}
import Logo from "@icons/Logo.astro";
import Sidebar from "@components/Sidebar.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
import { SIDEBAR_LINKS } from "../constants";

const links = SIDEBAR_LINKS.slice(1);
const { breadcrumbs = [] } = Astro.props;
---

<header>
  <nav class="mb-5 h-20 w-full flex items-center gap-4 px-6">
    <div class="flex flex-1 items-center gap-3">
      <a
        href="/"
        aria-label="Home page"
        class="transition-transform duration-300 hover:scale-105">
        <Logo />
      </a>
      {
        breadcrumbs.map((breadcrumb) => (
          <>
            <span>/</span>
            <a
              class="font-semibold"
              href={breadcrumb.path}>
              {breadcrumb.name}
            </a>
          </>
        ))
      }
    </div>
    <div class="mr-4 hidden justify-center gap-6 md:visible md:flex">
      {
        links.map((link) => (
          <a
            href={link.href}
            class="font-semibold">
            {link.title}
          </a>
        ))
      }
    </div>
    <ThemeToggle />
    <div class="flex justify-center gap-4 md:hidden">
      <Sidebar />
    </div>
  </nav>
</header>
