---
interface Props {
  breadcrumbs?: Array<{
    name: string;
    path: string;
  }>;
}
import Logo from "@icons/Logo.astro";
import Sidebar from "@components/Sidebar.astro";
import ThemeToggle from "@components/ThemeToggle.astro";

const { breadcrumbs = [] } = Astro.props;
---

<header>
  <nav class="mb-5 flex h-20 w-full items-center gap-4 px-6">
    <div class="flex flex-1 items-center gap-3">
      <a
        href="/"
        aria-label="Home page"
        class="transition-transform duration-200 hover:scale-105">
        <Logo />
      </a>
      {
        breadcrumbs.map((breadcrumb) => (
          <>
            <span>/</span>
            <a
              class="font-semibold"
              href={breadcrumb.path}>
              {breadcrumb.name}
            </a>
          </>
        ))
      }
    </div>
    <div class="mr-4 hidden justify-center gap-6 md:visible md:flex">
      <a
        href="/projects"
        class="font-semibold"
        >Projects</a
      >
      <a
        href="/blog"
        class="font-semibold"
        >Blog</a
      >
    </div>
    <ThemeToggle />
    <div class="flex justify-center gap-4 md:hidden">
      <Sidebar />
    </div>
  </nav>
</header>
