---
interface Props {
  breadcrumbs?: Array<{
    name: string;
    path: string;
  }>;
}
import Logo from "./Logo.astro";
import Sidebar from "./Sidebar.astro";
import ThemeToggle from "./ThemeToggle.astro";

const { breadcrumbs = [] } = Astro.props;
---

<header>
  <nav class="mb-5 flex h-20 w-screen items-center gap-4 px-6">
    <div class="item-center flex flex-1 gap-3">
      <a
        href="/"
        aria-label="Home page"
        class="transition-transform hover:scale-105 motion-safe:duration-200">
        <Logo />
      </a>
      {
        breadcrumbs.map((breadcrumb) => (
          <>
            <span>/</span>
            <a
              class="bg-gradient-to-r from-current to-current bg-no-repeat font-semibold [background-position:0_88%] [background-size:0%_0.2em] hover:[background-size:100%_0.2em] focus:[background-size:100%_0.2em] motion-safe:transition-all motion-safe:duration-300"
              href={breadcrumb.path}>
              {breadcrumb.name}
            </a>
          </>
        ))
      }
    </div>
    <div class="mr-4 hidden justify-center gap-6 md:visible md:flex">
      <a href="/projects">Projects</a>
      <a href="/blog">Blog</a>
    </div>
    <ThemeToggle />
    <div class="flex justify-center gap-4 md:hidden">
      <Sidebar />
    </div>
  </nav>
</header>
