---
import { SIDEBAR_LINKS } from "@src/constants";
import OpenSidebar from "@icons/OpenSidebar.astro";
import CloseSidebar from "@icons/CloseSidebar.astro";
---

<input
  type="checkbox"
  id="toggle"
  class="peer hidden"
/>

<label
  for="toggle"
  role="button"
  tabindex="0">
  <OpenSidebar />
</label>

<aside
  class="fixed right-[-300px] top-0 z-20 flex h-full w-[300px] max-w-[90%] flex-col gap-2 border-l bg-white text-current transition-[right] duration-300 ease-in-out peer-checked:right-0 dark:border-l-zinc-700 dark:bg-zinc-900">
  <label
    for="toggle"
    role="button"
    tabindex="0"
    class="mb-3 mr-5 mt-5 cursor-pointer self-end">
    <CloseSidebar />
  </label>
  {
    SIDEBAR_LINKS.map((link) => (
      <a
        href={link.href}
        class="mx-4 rounded-md px-5 py-3 transition-all duration-300 hover:bg-gray-100 dark:border-zinc-700 dark:hover:bg-zinc-800">
        {link.title}
      </a>
    ))
  }
</aside>

<label
  for="toggle"
  role="button"
  tabindex="0"
  aria-label="Close sidebar"
  class="fixed left-0 top-0 -z-10 h-screen w-screen opacity-0 backdrop-blur transition-all duration-500 peer-checked:z-10 peer-checked:opacity-100">
</label>
