---
interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<a
  href={"/blog/tag/" + tag.toLowerCase()}
  class="mr-2 mt-2 inline-block rounded-full bg-zinc-200 px-3 py-1 text-sm font-semibold text-zinc-700 transition-colors duration-300 dark:bg-zinc-700 hover:bg-zinc-300 dark:text-zinc-200 hover:dark:bg-zinc-600">
  {tag}
</a>
