---
import Project from "@components/Project.astro";
import { SITE_TITLE } from "@src/constants";
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.start.valueOf() - a.data.start.valueOf()
);
---

<BaseLayout
  title={SITE_TITLE + " - Projects"}
  description="A list of projects I have worked on."
  breadcrumbs={[{ path: "/projects", name: "Projects" }]}>
  <div class="container">
    <p class="text-lg">A list of projects I have worked on.</p>
    <div class="mb-5 flex flex-wrap justify-center gap-8 pt-6">
      {projects.map((project) => <Project {...project.data} />)}
    </div>
    <p class="text-center text-sm">And many more...</p>
  </div>
</BaseLayout>
